body {
    color: black;
    font-size: 14px;
    font-family: "Open Sans","Arial", sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    max-width: 960px;
    margin: 0 auto; 
}

header, footer {
    background-color:#e3fffd;
}

a {
    text-decoration: none;
    color:#ed5c02;
}

header {
    max-width: 960px;
    align-items:center;
}

#logo {
    margin: 0;
    padding: 0 250px;
    width: 460px;
    display: flex;  
    align-items: center;
    justify-content: center;
}
    
#navbar {
    margin: 0;
    background-color:#e3fffd;
    list-style: none;
    color:#ed5c02; 
    
}

 li{
     padding-right:30px;
     font-family: "Boogaloo", "Passion One Bold",sans sans-serif;
     font-size: 24px;
     list-style: none;
     text-decoration: none;
     display: inline;
 }

 li a{
     color:#ed5c02;
     text-decoration: none;
 }

a hover {
    color:#ffde59;
}
 
main{
    margin: 0;
    max-width: 960;
    background-color: #c2fffc;
    align-items: grid;
}

h1, h2 {
  color: #007eb5;  
  font-family: "Boogaloo", "Passion One Bold", sans-serif;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 32px;
}

section box-1 {
    max-width: 960px;
    padding: 25px;
}

.box-1 h2, p {
    float: left;
    width:60%;
    box-sizing: border-box;
}

.box-1 img {
    float: right;
    width: 40%;
    box-sizing: border-box;
}

.box-2 img {
    float: left;
    width: 40%;
    box-sizing: border-box;
}

.box-2 h2, p {
    float:right;
    width: 60%;
    box-sizing: border-box;
}

footer {
  display: grid;
}

#business {
    float: left;
    display: inline;
}

#social {
    float: right;
    display: inline;
}
