body {
    color: black
    font-size 14px;
    margin: 0;
    padding: 0;
}

page {
    max-width: 960px;
    margin: 0 auto; 
}

header, footer {
    /*background-color:#e3fffd;*/
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: center;
    justify-content: center;
    
}
a href {
    text-decoration: none;
    color:#ed5c02;
}

header{
    background-image: "../images/smiling_rafter_background.png";

}


nav{
    background-color:#e3fffd;
    
}

 li{
     padding-right:15px;
     display: inline;
     font-family: "Passion One Regular", "Arial", sans sans-serif;
     font-size: 24px;
     color:#ed5c02; 
     list-style: none;
 }
 

main{
    background-color:aqua;
}

h1, h2 {
    color:#1a5e63;
    font-family: "Passion One Regular", "Arial", sans-serif;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}

p {
    font-family: "Open Sans","Arial", sans-serif;
    
}



